<main>
    <div class="relative h-screen w-full z-100">
        <div class="opacity-70">
        <img src="https://img.freepik.com/foto-gratis/vista-superior-platos-fideos-sopa-tomate_23-2148460189.jpg?t=st=1744825135~exp=1744828735~hmac=25d720712df75c3bbd243d20a9cee73d30e58e67bfa92bd3484f4067dfbdf2a2&w=996" alt="Background Image" class="object-cover object-center w-full h-full " />
        <img src="" alt="Background Image" class="absolute inset-0 w-full h-full object-cover filter blur-sm">
    </div>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
            <div class="bg-green-300 flex flex-col items-center justify-center p-3 rounded-xl">
            <h1 class="text-4xl text-green-700 font-bold">Applergy</h1>
            <p class="text-xl text-black mt-4">Por una compra de alimentos segura para todos</p>
        </div>
        </div>
    </div>
</main>