.centrar {
    position: relative;
    left: 30vw;
    top: 30vh;
}

.centrarNuevo {
    top: 30vh;
}

.ocupar {
    width: 100vw;
    height: 100vh;

}

.centrarInputs {
    position: relative;
    left: 30px;
}

.centrarTags {
    position: relative;
    left: 180px;
}